//Media query break-points

$brk-narrow : '(min-width: 768px)';
$brk-wide   : '(min-width: 1024px)';

//Other colors

$brick      :  #db4711; // responsive section top and bottom borders
$grey       :  #e1e5ed; //
$green-blue :  rgba(106, 199, 197, 0.5);// 
$purple     :  #411a35; //responsive section text