//General colors

$dark-grey  :  #494949; //links color
$white      :  #fff;    //backgroind
$light-blue :  #6ac7c5; //nav links hover
$dark-blue  :  #4c908e; //contact link hover
$light-grey :  #fafafa; //background-dark
